{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
		<section class="page">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="page-title">О нас</h1>
						<p class="page-subtitle">We will tell you who we are</p>
						<div class="line thin"></div>
						<div class="page-description">
							<h4>Система учета проданных товаров</h4>
							<p>
								Учет товаров нужен, чтобы управлять ассортиментом и рентабельностью магазина.
                                Для работы с ассортиментом нужно знать, сколько товара закуплено у поставщика, сколько
                                продано, а сколько потеряно из-за порчи или кражи. Для оценки прибыльности нужны отчеты,
                                которые строятся на основе товароучета и данных с кассы.
							</p>
							<p>
								В системе можетбыть несколько магазинов. В системе, может быть несколько складов с
                                товарами (товары принадлежатк категориям, товар может относится только к одной категории,
                                одинаковый товар может находится на разных складах).
							</p>
                            <p>
                                Любой магазин имеет свой асортимент, может продавать товары с различных складов
                                (если магазин 1 продает товар А со склада 1, то магазин 2 не может продавать товар
                                А со склада 1).
                            </p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}}